// Foundation Row
.row {
  max-width: $query__large;
  margin-left: auto;
  margin-right: auto; 
  
}

.container {
      padding: 0 1rem;
      width: 100%;
      height: inherit;
      
      @media screen and (min-width: $query__small) {
          padding: 0 2rem;
    }
  }
  
  

  .row::before, .row::after {
    content: ' ';
    display: table; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row .row {
    max-width: none;
    /*margin-left: -0.625rem;*/
    /*margin-right: -0.625rem;*/
    margin-left: 0rem;
    margin-right: 0rem;
    max-width: none; }
    @media screen and (min-width: 40em) {
      .row .row {
        /*margin-left: -0.9375rem;*/
        /*margin-right: -0.9375rem;*/
        margin-left: 0rem;
        margin-right: 0rem;
      } }
    .row .row.collapse {
      margin-left: 0;
      margin-right: 0; }
  .row.expanded {
    max-width: none; }
    .row.expanded .row {
      margin-left: auto;
      margin-right: auto; }

.site-content {
    margin-top: 70px;
    padding: 1em 2em 0;
    
    @media screen and (min-width: $query__small) {
        padding: 3rem 3rem 0;
    }
}

.site-footer {
    background-size: cover!important;
}