// Theme Colors = "Deep Rooted" @ http://www.pantone.com/color-of-the-year-2017
$color__green: #86AF49;
$color__green_alpha: rgba(134,175,73,0.5);
//$color__green_dark:
//$color__green_light:
$color__gold: #B1832E;
$color__gold_dark: #8A7560;
$color__gold_light: #C7BBA5;
$color__gray: #838488;
$color__gray_dark: #4A494E;
$color__black: #1d1f21; // Old CSS-Tricks footer black, JKL Theme <pre> black
$color__beige: #E7E3D8;
$color__red: #BC525C;
//$color__red_dark:
//$color__red_light:

// Theme Colors = "Fathomless" @ 
$color__green_dark: #44883D;
$color__blue_dark: #1F4478;
$color__blue: #0062A3;
$color__aqua: #009498;
$color__aqua_light: #59C9D5;
$color__gray_blue: #5F7278;
$color__gray_blue_light: #8A9A9A;


// Original Underscores Components colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__green;
$color__link-visited: $color__gold_dark;
$color__link-hover: $color__gold_light;
$color__text-main: $color__black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;