$size_site-main: 100%;
$size_site-sidebar: 25%;

$breakpoint_tablet: 37.5rem;
$query__small: 37.5rem;
$query__medium: 62.5rem;
$query__large: 75rem; 

$size__body: 50rem;
$size__sidebar: 22em;
$size__page: 62em;