$font__sans: 'Spoqa Han Sans', /* "Noto Sans KR", "Noto Sans", */ "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
$font__serif: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
$font__main: sans-serif;
$font__code: "Noto Mono", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__cursive: "Satisfy", cursive;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.5;
$font__line-height-headings: 1.3;