.site-search-overlay {
    
        transition: all 0.5s;
        width: 0%;
        height: 0%;
        top: 0;
        right: 0;
        z-index: 9;
        /*background: darken( $color__bright_blue_alpha, 30% );*/
        /*@include gradient();*/
        background: rgba( 255,255,255,0.7 );
        position: fixed;
        /*padding-top: 20px;*/
        
        .search-form {
            
                padding: 0 2em;
                text-align: center;

                .search-field {
                    
                        transition: all 0.5s;
                        @include font-size(2);
                        font-weight: 300;
                        font-family: "Oswald";
                        text-align: center;
                        /*background: darken( $color__bright_blue_alpha, 30% );*/
                        @include gradient();
                        color: $color__white;
                        border: none;
                        width: 0%;
/*                        margin-top: -15px;
                        margin-left: -10px;*/
                        border: 1px solid;
                        max-width: 90%;
                        @media screen and (min-width: $query__small) {
                            max-width: 50%;
                        }
                        margin: 0 auto;
                        
                        &:focus,
                        &:active {
                            outline: none;
                        }
                        
                        &::-webkit-input-placeholder,
                        &::-moz-placeholder, 
                        &:-ms-input-placeholder, 
                        &:-moz-placeholder {
                            color: white;
                        }
                        
                }
                
                .search-submit {
                    
                        display: none;
                        
                }
        }
        
        .close-search {
            transition: all 1s;
            right: 0;
            top: 0;
            width: 0%;
            height: 0%;
            color: $color__light_gray_2;
            text-shadow: 0px 0px 2px black;
        }
        
        &.active {
            width: 100%;
            height: 100%;
            
            .search-field {
                width: 90%;
                @media screen and (min-width: $query__small) {
                    width: calc(100vw - 125px);
                }
                margin-top: calc( 50vh - 38px );
            }
            
            .close-search {
                position: absolute;
                right: 2em;
                top: 1em;
            }
        }
        
        
}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}