/*.topbutton {
    font-family: "FontAwesome";
    content: '\f077'; // fa-chevron-up
    color: $color__white;
    background-color: darken( $color__bright_blue, 10% );
    height: 30px;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    display: none;
    .icon {
        display: block;
        margin: 0 auto;
        top: 2px;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        -webkit-transform: skewY(14deg);
        transform: skewY(14deg);
        width: 100%;
        height: 100%;
        background-color: darken( $color__bright_blue, 10% );
    }
}*/

.site-footer:not(.with-comments) {
    &:before {
        content: "";
        height: 10px;
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
        @include gradient();
    }
}

.footer-widgets-area {
    	background-color: $color__white;
        margin: 0;
	padding: 1em 0;
        @include font-size(0.8);
}

.footer-widgets {
	/*max-width: $query__large;*/
        margin: 0 auto;

	@media screen and (min-width: $query__small) {
		padding-top: 2em;
                padding-bottom: 2em;
	}

	.widget {
		flex: 1;
		margin: 0 1em 2em;
		padding-top: 1em;

		.original-title {
			/*color: hsla(0, 0%, 100%, .5);*/
		}
                
                &:before {
                    /*border: none;*/
                }
                
                ol, 
                ul {
                    /*margin-left: 0;*/
                }
	}
        
        .widget-title {
            /*font-size: 1.5em;*/
            /*margin-left: -5px;*/
            /*border-color: $color__bright_blue;*/
            
            &:before {
                /*border: none;*/
            }
            
        }

	.widget,
	.widget-title,
	.widget a,
	.widget_calendar thead,
	.rss-date,
	.widget_rss cite {
		/*color: white;*/
	}

	.widget_calendar td,
	.widget_calendar a {
		/*color: black;*/
	}

	@media screen and (min-width: $query__medium) {
		/* Use flex to create a responsive layout */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		/* If only one widget is displayed, make it full width. */
		.widget:only-of-type {
			width: 100%;
		}

		/* If 2 or 3 widgets are displayed, make the second one twice as wide. */
		.widget:nth-last-child(n+2):nth-last-child(-n+3):first-child ~ .widget:nth-child(2) {
			flex: 2;
		}

		/* If 4 or more widgets are displayed, show three across when available. */
		.widget:nth-last-child(n+4),
		.widget:nth-last-child(n+4) ~ .widget {
			width: 30%;
			flex: 1 1 30%;
		}
	}
        
        @media screen and (min-width: $query__large) {
                /* If 4 or more widgets are displayed, show three across when available. */
		.widget:nth-last-child(n+4),
		.widget:nth-last-child(n+4) ~ .widget {
			width: 22%;
			flex: 1 1 22%;
		}
        }
}

.footer-navigation {
        flex: 1 0 100%;
        text-align: center;
        width: 100%;
        margin: 0 auto 2em;
        padding: 0;
        list-style: none;
        
        ul {
            margin: 0;
            z-index: 1;
        }
        
        li {
            display: inline-block;
            padding: 0 1em;
        }
        &:before {
            content: "";
            width: 75%;
            height: 1px;
            display: block;
            border-top: 2px solid $color__white;
            top: 0;
            z-index: 0;
            margin: 0 auto;
        }
        &:after {
            content: "";
            width: 50%;
            height: 1px;
            display: block;
            border-bottom: 1px solid $color__white;
            bottom: 0;
            z-index: 0;
            margin: 0 auto;
        }
    }

.site-info-area {
    font-weight: 300;
    font-size: 0.8em;
    padding: 2em 0;
    text-align: right;
    color: $color__black;
    background-color: $color__green;
    
    .site-info {
            display: flex;
            justify-content: space-between;
            line-height: 3;
            flex-wrap: wrap;
    }
    
    a {
        color: $color__white;
    }
    
    
    
    .social-navigation {
        float: left;
        list-style: none;
        
        .social-links-menu {
            margin: 0;
            width: auto;
        }
        
        li {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 2.2;
            font-size: 1.2em;
            margin-right: 0;
            
            a {
                padding-right: 16px;
                color: $color__white;
            }
            
            &:hover, &:active, &:focus {
                background: $color__bright_blue;
            }
        }
    }
}
