// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 20) * 1px;
	font-size: $sizeValue * 1.25rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Breadcrumbs Style
@mixin breadcrumbs() {
        display: block;
        color: $color__gray;
        /*@include font-size(0.75);*/
        font-weight: 300;

        a {
            color: $color__gray;
            text-decoration: none;
        }
}

@mixin hover-shape() {
        box-shadow: 0px 0px 15px $color__gray;
        /*border: 1px solid $color__light_gray;*/
}

// Gradient Background
@mixin gradient() {
        /* Vivid colors */
        background: $color__bright_green; /* Old browsers */
        background: -moz-linear-gradient(left, $color__bright_green_alpha 0%, $color__bright_blue_alpha 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $color__bright_green_alpha 0%,$color__bright_blue_alpha 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $color__bright_green_alpha 0%,$color__bright_blue_alpha 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66F485', endColorstr='#17ACFE',GradientType=1 ); /* IE6-9 */
}
@mixin gradient-left() {
        /* Vivid colors */
        background: $color__bright_green; /* Old browsers */
        background: -moz-linear-gradient(left, $color__bright_green_alpha 0%, $color__bright_blue_green_alpha 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $color__bright_green_alpha 0%,$color__bright_blue_green_alpha 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $color__bright_green_alpha 0%,$color__bright_blue_green_alpha 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66F485', endColorstr='#4FB396',GradientType=1 ); /* IE6-9 */

}
@mixin gradient-right() {
        /* Vivid colors */
        background: $color__bright_blue_green; /* Old browsers */
        background: -moz-linear-gradient(left, $color__bright_blue_green_alpha 0%, $color__bright_blue_alpha 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $color__bright_blue_green_alpha 0%,$color__bright_blue_alpha 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $color__bright_blue_green_alpha 0%,$color__bright_blue_alpha 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4FB396', endColorstr='#17ACFE',GradientType=1 ); /* IE6-9 */

}
