a {
	color: $color__link;
        text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
        &:hover {
                border-bottom: 2px solid;
        }
	&:focus,
	&:active {
		color: $color__link-hover;
                background-color: $color__link;
	}
	&:focus {
		outline: thin dotted;
                img {
                    outline: thin dotted;
                }
	}
	&:hover,
	&:active {
		outline: 0;
	}
}