.main-navigation {
	clear: both;
	display: block;
        @include font-size(0.9);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		/*float: left;*/
                text-align: right;
                border-bottom: 1px dotted $color__white;
		position: relative;
                font-weight: 300;
                line-height: 2;
                /*padding-right: 0.25em;*/

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
                color: $color__white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
        
        .dropdown-toggle {
            position: absolute;
            top: 0;
            right: -2em;
            padding: 0;
            border: none;
            color: $color__white;
            width: 2em;
            height: auto;
            line-height: 2;
        }
}

.not-front.main-navigation {
        width: 100%;
        border-bottom: 1px solid $color__light_gray;
        font-size: 0.8em;
        height: 76px;
        .menu-main-menu-container {
            max-width: $query__large;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            ul {
                display: none;
            }
        }
        li {
            display: inline-block;
            padding: 20px 10px;
            transform: skewX(14deg);
            font-style: italic;
        }
        a {
            color: $color__gray;
        }
        .main-navigation-container {
            max-width: $query__large;
            margin: 0 auto;
            .logo img {
                float: left;
                height: 45px;
                top: 15px;
            }
            .site-title {
                float: left;
                padding-top: 1em;
                padding-left: 1em;
                font-size: 1.5em;
                color: $color__body;
            }
        }
}

.fixed.main-navigation {
    position: fixed;
    top: 0;
    z-index: 20;
    background: rgba(255,255,255,0.8);
    border-color: $color__very_light_gray;
    &:hover, 
    &:active, 
    &:focus {
        background: $color__white;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
