.home-navigation {
	clear: both;
	display: block;
        @include font-size(0.9);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
                        border-left: 1px dotted $color__light_gray;
                        border-right: 1px dotted $color__light_gray;
			float: left;
			position: absolute;
			top: 2em;
			left: -999em;
			z-index: 9999999;
                        display: block;
                        width: 100%;
                        background: $color__very_light_gray;

			ul {
				left: -999em;
				top: 0;
                                background: darken($color__very_light_gray, 2.5%);
			}
                        
                        ul ul { background: darken($color__very_light_gray, 5%); } // Depth 3
                        ul ul ul { background: darken($color__very_light_gray, 7.5%); } // Depth 4
                        ul ul ul ul { background: darken($color__very_light_gray, 10%); } // Depth 5
                        ul ul ul ul ul { background: darken($color__very_light_gray, 12.5%); } // Depth 6
                        ul ul ul ul ul ul { background: darken($color__very_light_gray, 15%); } // Depth 7
                        ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 17.5%); } // Depth 8
                        ul ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 20%); } // Depth 9
                        ul ul ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 22.5%); } // Depth 10

                        a {
				/*width: 200px;*/
                                color: $color__gray;
                                border-bottom: 1px dotted $color__light_gray;
                                /*padding: 3px 1em;*/
                                font-size: 0.9em;
			}
                        
			li {
				padding: 0.5em 1em;
                                height: 50px;
                                &:hover > ul,
				&.focus > ul {
/*					left: 100%;*/
                                        top: 50px;
                                        margin-left: -1em;
				}
                                a {
                                    border-bottom: none;
                                }
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
                        
                        .dropdown-toggle {
                            background: $color__white;
                            color: $color__body;
                            height: 50px;
                        }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		/*float: left;*/
                text-align: right;
                border-bottom: 1px dotted $color__light_gray;
		position: relative;
                font-weight: 300;
                line-height: 2;
                /*padding: 1em;*/
                height: auto;
                /*padding-right: 0.25em;*/

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
                color: $color__white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
        
        .dropdown-toggle {
            position: absolute;
            z-index: 10;
            top: 0;
            right: -2em;
            padding: 0;
            border: none;
            color: $color__white;
            width: 2em;
            height: auto;
            line-height: 2;
            height: 37px;
            &:hover, 
            &:active, 
            &:focus {
                outline: none;
            }
        }
}

.main-navigation {
        width: 100%;
        border-bottom: 1px solid $color__light_gray;
        font-size: 0.8em;
        height: 70px;
        position: relative;
        z-index: 2;
        
        .menu-main-menu-container {
            max-width: $query__large;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            
            display: none;
            margin: 0;
            padding-left: 0;
            
            ul {
                display: none;
                
                /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
			float: left;
			position: absolute;
			top: 70px;
                        right: 8px;
                        transform: skewX(-14deg);
			left: -999em;
			z-index: 99999;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: $color__very_light_gray;
                        
                        ul {
				left: -999em;
				top: 0;
                                background: darken($color__very_light_gray, 5%);
			}
                        
                        ul ul { background: darken($color__very_light_gray, 10%); } // Depth 3
                        ul ul ul { background: darken($color__very_light_gray, 15%); } // Depth 4
                        ul ul ul ul { background: darken($color__very_light_gray, 20%); } // Depth 5
                        ul ul ul ul ul { background: darken($color__very_light_gray, 25%); } // Depth 6
                        ul ul ul ul ul ul { background: darken($color__very_light_gray, 30%); } // Depth 7
                        ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 35%); } // Depth 8
                        ul ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 40%); } // Depth 9
                        ul ul ul ul ul ul ul ul ul { background: darken($color__very_light_gray, 45%); } // Depth 10

                        a {
				/*width: 200px;*/
                                color: $color__body;
                                border-bottom: 1px dotted $color__light_gray;
                                padding: 0;
			}
                        
			li {
                            transform: skewX(0deg);
                            font-style: normal;
                                -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    /* position: absolute; */
    background: $color__very_light_gray;
    min-width: 300px;
    height: auto;
    padding: 1em;
    border: 1px dotted $color__light_gray;
    border-top: none;
    font-weight: normal;
    font-size: 0.9em;
				&:hover > ul,
				&.focus > ul {
/*					left: 100%;*/
                                        top: 2em;
				}
                                a {
                                    border-bottom: none;
                                    color: $color__gray;
                                }
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
                        
                        .dropdown-toggle {
                            background: $color__white;
                            color: $color__gray;
                        }
            }
            li:hover > ul,
            li.focus > ul {
                    left: auto;
            }
        }
        a {
            color: $color__gray;
            font-weight: 300;
        }
        li {
            display: block;
            float: left;
            padding: 21px 10px;
            transform: skewX(14deg);
            font-style: italic;
            height: 70px;
            &:hover {
                background: $color__link;
                & > a {
                    color: $color__white;
                }
            }
            &.active, 
            &:active, 
            &:focus {
                box-shadow: inset 0 -5px 0px $color__link;
            }
        }
        
        .main-navigation-container {
            max-width: $query__large;
            margin: 0 auto;
            .logo img {
                float: left;
                height: 45px;
                top: 12px;
                opacity: 0;
            }
            .site-title {
                float: left;
                padding-top: 1em;
                padding-left: 1em;
                font-size: 1.5em;
                color: $color__body;
                opacity: 0;
            }
        }
        .menu-item-has-children {
            padding-right: 0;
            padding-top: 18px;
        }
        .dropdown-toggle {
            border: none;
            padding: 0.6em;
            width: 34px;
            
            &:active, 
            &:hover, 
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        
}

.fixed.main-navigation {
    position: fixed;
    top: 0;
    z-index: 20;
    background: rgba(255,255,255,0.8);
    border-color: $color__very_light_gray;
    .logo img,
    .site-title {
        opacity: 1!important;
    }
    &:hover, 
    &:active, 
    &:focus {
        background: $color__white;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul,
.home-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
        .main-navigation ul {
                display: block;
        }
	.home-navigation ul {
		display: flex;
                flex-wrap: wrap;
                
                li {
                    flex: 1 1 50%;
                }
	}
}
